<div class="wrapper">
	<div class="header">
		<h1 style="color:aliceblue">My ToDo List</h1>
		<h2 style="color:aliceblue">Getting Things Done</h2>
	</div>

	<div class="tasklist"id="tasks" >
		<div *ngFor="let t of tasksList" (click)="getTaskFromList(t)">
			<span>ID: </span>{{t.id}} -------- 
			<span>Name: </span>{{t.name}} 
		</div>
	</div>


	<div class="ListOfChosenTasks">
		<div *ngFor="let t of tasks">
			<span>ID: </span>	{{t.id}} -------- 
			<span>Name: </span>	{{t.name}} -------- 
			<span>Created at </span>	{{t.created_at}} : 
			<span>Due on </span>	{{t.due_on}} : 
			<span>Status: </span>	{{t.status}} 
		</div>
	</div>
</div>