<div class="wrapper">
	<div class="header">
		<h1 style="color:aliceblue">My ToDo List</h1>
		<h2 style="color:aliceblue">Getting Things Done</h2>
	</div>

	<div class="tasklist"id="tasks" >
		<div *ngFor="let t of tasksList" (click)="getTaskFromList(t)">
			<span style="color: white;">| ID | </span>{{t.id}}  
			<span style="color: white;">| Name | </span>{{t.name}} 
		</div>
	</div>


	<div class="ListOfChosenTasks">
		<div *ngFor="let t of tasks">
			<span style="color: red;"> ID | </span>	{{t.id}} <span style="color: red;">|</span> 
			<span style="color: red;"> Name | </span>	{{t.name}} <span style="color: red;">|</span> 
			<span style="color: red;"> Created at | </span> {{t.created_at}} <span style="color: red;">|</span>
			<span style="color: red;"> Due on |</span>	{{t.due_on}} <span style="color: red;">|</span>
			<span style="color: red;"> Status |</span>	{{t.status}} 
		</div>
	</div>
</div>