header{
    height: 50px;
    background-color: black;
    font-size: 50%;
    text-align: left;
}
*{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
h1{
    padding-left: 30px;
    padding-top: 20px;
}
.wrapper{
    margin-top: 120px;
    text-align: center;
}

.remove{
    background-color: white;    
    border: 0;  
    height: 30px;
    width: 30px;
}
.check{
    padding-left: 10px;
    padding-top: 10px;
    height: 25px;
    width: 25px;
}
#task{
    width: 300px;
}
input{
    border-radius: 5%;
    height: 30px;
}
ul{
    padding-left: 250px;
    width: 700px;    
    padding-top: 40px;
    list-style-type: none;
}
.wrRemove{
    padding-left: 100px;

}
li{
    position: relative;
    padding-left: 20px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.383);
}
.addButton{
    color: aliceblue;
    background-color: rgba(0, 0, 255, 0.685);
    border-radius: 5%;
    height: 30px;
    width: 50px;
}
title{
    color: gray;
}
